{% if feed %}
<ul class="instagram-feed">
    {% for item in feed|slice(0, count) %}
        <li>
            <a href="https://www.instagram.com/p/{{ item.code }}" target="_blank">
                <img src="{{ item.display_src }}" alt="">
            </a>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>
    Could not load the Instagram feed!
</p>
{% endif %}
